:root {
  --color-silver: #C1C1C1;
  --color-platinum-light: #E8E8E8;
  --color-platinum-dark: #DBDBDB;
  --color-dim-gray: #6D6D6D;
  --color-eerie-black: #171717;
}

body {
  font-family: Arial, sans-serif;
  background: var(--color-eerie-black);
  color: var(--color-silver);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 250px;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  background: var(--color-platinum-dark);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 8px;
  padding: 20px;
  color: var(--color-eerie-black);
}

.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(23, 23, 23, 0), var(--color-eerie-black));
}

.tab {
  padding: 6px 12px;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  color: var(--color-eerie-black);
}

.tab.active {
  border-bottom: 2px solid var(--color-dim-gray);
  color: var(--color-dim-gray);
}

/* Left Sidebar */
.sidebar-left {
  background-color: var(--color-dim-gray);
  color: var(--color-platinum-light);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-left a {
  color: var(--color-platinum-light);
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.sidebar-left a:hover {
  background-color: var(--color-eerie-black);
}

/* Main Content */
.main-content {
  background-color: var(--color-platinum-light);
  color: var(--color-eerie-black);
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: inset 0 0 10px var(--color-silver);
  backdrop-filter: blur(6px);
}

/* Right Sidebar */
.sidebar-right {
  background-color: var(--color-silver);
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  color: var(--color-eerie-black);
}

.sidebar-right h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.friend {
  padding: 8px 10px;
  border-radius: 6px;
  background-color: var(--color-platinum-dark);
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.friend:hover {
  background-color: var(--color-silver);
}
